footer{
    @include flexJustCenter;
    background-color: $colour-footer-background;
    a{
        transition: color 0.3s;
        &:hover{
            color: $colour-tertiary;
        }
        .icone{
            margin-right: 5px;
            margin-left: -2px;
        }
    }
}

footer > *{
    width: 335px;
}