footer{
    display: flex;
    justify-content: center;
    background-color: $colour-footer-background;
    a{
        transition: color 0.3s;
        &:hover{
            color: $colour-tertiary;
        }
    }
}

footer > *{
    width: 335px;
}