form{
    display: flex;
    column-gap: 18px;
    max-width: max-content;
    transform: translateX(30px);
    input#recherche-input{
        border: none;
        background-color: transparent;
    }
}
