section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0 63px 0;
    > *{
        width: 335px;
    }
    .menu{
        width: 100%;
        max-width: 349px;
    }
    &.recherche{
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color:#EAEAEA;
    }
    &.presentation{
        row-gap: 11px;
        padding-top: 38px;
        p{
            max-width: 307px;
        }
        h1{
            width: 250px;
        }
    }
    &.fonctionnement{
        row-gap: 28px;
        background-color: $colour-white;
    }
    &.restaurants{
        gap: 18px;
    }
    &:first-child{
        padding: 0;
    }

}

.presentation, .restaurants{
    background-color: $colour-background;
}

footer{
    flex-direction: column;
    align-items: center;
    padding: 22px 0 34px 0;
    .logo{
        margin-bottom: 17px;
    }
    ul{
        display: flex;
        flex-direction: column;
        row-gap: 7px;
    }
}

main.menu{
    border-radius: clamp(0px, calc(4000vw / 375), 149px);
    background-color: $colour-background;
    padding: 31px 12px 0;
    margin-bottom: 83px;
    position: relative;
    z-index: 2;
    h1{
        margin: auto;
        max-width: 339px;
    }
    section{
        margin: auto;
        max-width: 375px;
        padding: 22px 0 10px;
        position: relative;
    }
}

body > div{
    overflow: hidden;
    margin-bottom: calc(-5700% / 375);
    display: flex;
    justify-content: center;
    aspect-ratio: 335/249;
}