.card{
    display: flex;
    justify-content: center;
    aspect-ratio: 335/251;
    overflow: hidden;
    position: relative;
    border-radius: 14px / 12px;
    background-color: white;
        &.menu{
            aspect-ratio: unset;
            display: block;
            padding: 12px 10px;
            margin-top: 14px;
            p{
                margin-top: 4px;
            }
            span:not(.prix){
                display: inline-block;
                overflow-x: hidden;
                white-space: nowrap;
                width: 100%;
                max-width: 261px;
                text-overflow: ellipsis;
            }
            .prix{
                float: right;
            }
        }
        .newSticker{
            position: absolute;
            top: calc(1300% / 251);
            right: calc(1200% / 335);
            width: 80px;
            height: 29px;
            background-color: $colour-tertiary;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #008766;
            border-radius: 2px;
        }
        img{
            width: 103.5%;
            align-self: center;
            transform: translateY(-29%);
            &[src*="stil"]{
                width: 101.5%;
                transform: translateY(-15.5%);
            }
            + div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 3px;
                width: 100%;
                height: calc(7700% / 251);
                background-color: white;
                position: absolute;
                bottom: 0;
                padding: 0 calc(7100% / 355) 0 calc(1300% / 335);
            }
        }
}
