html{
    background-color: $colour-white;
}

body{
    margin: 0;
    background-color: $colour-background;
    max-width: 1430px;
    margin: 0 auto;
    overflow-x: hidden;
}

body *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: unset;
    color: inherit;
}

.card,.button, .fonctionnement li{
    box-shadow: 4px 7px 15px -4px #E6E6E6; 
}