@font-face {
    font-family: "Iconify Explorer Font";
    src: url("../font/iconfont.eot");
    src: url("../font/iconfont.eot") format("embedded-opentype"),
         url("../font/iconfont.ttf") format("truetype"),
         url("../font/iconfont.woff") format("woff"),
         url("../font/iconfont.woff2") format("woff2"),
         url("../font/iconfont.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }

.icone {
    font-family: "Iconify Explorer Font" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, input#recherche-input, .button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.logo{
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    font-weight: 400;
}

h1, h2{
    font-size: 24px;
    font-weight: 700;
}

h1.menu{
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
    font-weight: 400;
} 

h2.menu{
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    text-transform: uppercase;
    position: relative;
    padding-left: 6px;
    &:after{
        position: absolute;
        bottom: 0;
        left: 6px;
        content: '';
        width: 40px;
        height: 3px;
        background-color: $colour-tertiary;
    }
}

.presentation{
    text-align: center;
    p{
        font-size: 18px;
        font-weight: 300;
    }
}

.card {
    h3{
        font-size: 18px;
        font-weight: 900;
    }
    &.menu h3{
        font-weight: 700;
    }
    &.menu p{
        font-size: 15px;
        .prix{
            font-weight: 900;
        }
    }
    p{
    font-size: 17px;
    font-weight: 300;
    }
    .newSticker{
        font-size: 14px;
    }
}

footer {
    color: white;
    .logo{
        font-size: 18px;
    }
    .regular{
        font-weight: 400;
    }
}

