body, button, input#recherche-input {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.logo {
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    font-weight: 400;
}

h1, h2{
    font-size: 24px;
    font-weight: 700;
}

.presentation{
    text-align: center;
    p{
        font-size: 18px;
        font-weight: 300;
    }
    button{
        color: white;
    }
}

.card {
    h3{
        font-size: 18px;
        font-weight: 900;
    }
    p{
    font-size: 17px;
    font-weight: 300;
    }
    .newSticker{
        font-size: 14px;
    }
}

footer {
    color: white;
    .logo{
        font-size: 18px;
    }
    .regular{
        font-weight: 400;
    }
}

